<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
  </head>
  <body>
    <h1><%= @title %></h1>
    <p>You cast: <%= @memo %></p>
    <p><a href='/results'>See the results!</a></p>
  </body>
</html>
