<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>メモアプリ</h1>
    <% @hash.each do |memo| %>
    <form action="/memos/<%= memo["id"] %>" method="post">
      <input name="_method" type="hidden" value="patch" />
      <div>
        <input type="text" name="title" value="<%= h(memo["title"]) %>"></input>
      </div>
      <div>
        <textarea name="body" rows="5"><%= h(memo["body"]) %></textarea>
      </div>
    <% end %>
      <div>
        <input type="submit" value="変更">
      </div>
    </form>
  </body>
</html>
