<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>メモアプリ</h1>
  <div>
    <ul>
      <li><a href="/">トップへ戻る</a></li>
      <li><%= @title %></li>
    </ul>
  </div>
  <div>
    <form method="POST" action="/form">
      <input type="button" onclick="location.href='/form'" value="追加">
    </form>
  </div>
</body>
</html>
