<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>メモアプリ</h1>
  <div>
    <form method="get" action="/show_memo"> 
      <ul>
        <li><a href='show_memo'><%= @title %></a></li>
      </ul>
    </form>
  </div>
  <div>
    <form method="get" action="/form">
      <input type="button" onclick="location.href='/form'" value="追加">
    </form>
  </div>
</body>
</html>
