<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>メモアプリ</h1>
  <div>
  <% @hash.each do |memo| %>
    <form method="get" action="/show_memo"> 
      <ul>
        <li><a href='/show_memo/<%= memo["id"] %>'><%= h(memo["title"]) %></a></li>
      </ul>
    </form>
  <% end %>
  </div>
  <div>
    <form method="get" action="/form">
      <input type="button" onclick="location.href='/form'" value="追加">
    </form>
  </div>
</body>
</html>
