<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>メモアプリ</h1>
    <div>
      <input type="text" name="title" value="<%= @hash["title"] %>" readonly></input>
    </div>
    <div>
      <textarea name="body" rows="5" readonly><%= @hash["body"] %></textarea>
    </div>
    <form action="/edit/<%= @hash["id"] %>" method="get">
      <div>  
        <input type="submit" value="変更">
      </div>
    </form>
    <form action="/index/<%= @hash["id"] %>" method="delete">
      <div>
        <input type="submit" value="削除">
      </div>
    </form>
  </body>
</html>
