<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>メモアプリ</h1>
    <div>
      <input type="text" name="title" value="<%= @title %>" readonly></input>
    </div>
    <div>
      <textarea name="body" rows="5" readonly><%= @body %></textarea>
    </div>
    <form action="/edit" method="get">
      <div>  
        <input type="submit" value="変更">
      </div>
    </form>
    <form action="index" method="delete">
      <div>
        <input type="submit" value="削除">
      </div>
    </form>
  </body>
</html>
